body {
    margin: 0;
    padding: 10px;
}

img {
    width: 100%;
    border: black 1px solid;
    margin: 0;
}

#poll-box {
    padding: 0px;
    width: 100%;
}

.img-wrapper {
    width: 50%;
    float: left;
}