<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="poll" method="post">
        <label>
            Имя:
            <input type="text" name="name"/>
        </label>
        <label>
            Описание:
            <input type="text" name="description"/>
        </label>
        <button type="submit">Начать</button>
    </form>
    <a href="/teachers">Teachers</a>
</body>
</html>